{% extends 'base.html' %}
{% block title %}Books{% endblock %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#button1").click(function(){
      $("#div1").load("static/early.txt");
    });
  });

  $(document).ready(function(){
    $("#button2").click(function(){
      $("#div2").load("static/filthy.txt");
    });
  });

  $(document).ready(function(){
    $("#button3").click(function(){
      $("#div3").load("static/orconomics.txt");
    });
  });
</script>
<!-- Task -->
<div class="accordion" id="accordion">
  <div class="card">
    <div class="card-header" id="task">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTask" aria-expanded="false" aria-controls="collapseTask">
          <b>Show Challenge</b>
        </button>
      </h2>
    </div>
    <div id="collapseTask" class="collapse" aria-labelledby="task" data-parent="#accordion">
      <div class="card-body">
        <ul>
          <li>Scrape the info for How to Get Filthy Rich (<a href="https://github.com/maxhumber/scrape.world/blob/master/solutions/books-info.py">solution</a>)</li>
          <li>Scrape and download all multimedia (<a href="https://github.com/maxhumber/scrape.world/blob/master/solutions/books-multimedia.py">solution</a>)</li>
          <li>Scrape and monitor the sale price for each book (<a href="https://github.com/maxhumber/scrape.world/blob/master/solutions/books-price.py">solution</a>)</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<br />
<!-- Content -->
<div class="book-early">
  <video width="100" autoplay loop>
     <source src="{{url_for('static', filename='early.mp4')}}" type="video/mp4">
  </video>
  <h4>Early Riser</h4>
  <p>${{ price.early }}.99 CAD</p>
  <div id="div1"></div>
  <button type="button" class="btn btn-primary" id="button1">More Info</button>
</div>
<br />
<div class="book-filthy">
  <img src="{{url_for('static', filename='filthy.jpg')}}" width=100>
  <h4>How to Get Filthy Rich in Rising Asia</h4>
  <p>${{ price.filthy }}.99 CAD</p>
  <div id="div2"></div>
  <button type="button" class="btn btn-primary" id="button2">More Info</button>
</div>
<br />
<div class="book-orconimics">
  <img src="{{url_for('static', filename='orconomics.jpg')}}" width=100>
  <h4>Orconomics</h4>
  <p>${{ price.orconomics }}.99 CAD</p>
  <div id="div3"></div>
  <button type="button" class="btn btn-primary" id="button3">More Info</button>
  <br />
  <br />
  <audio controls>
    <source src="{{url_for('static', filename='orconomics.mp3')}}" type="audio/mpeg">
  </audio>
</div>
{% endblock %}
