{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block content %}
<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#button1").click(function(){
      $("#div1").load("static/demo_test1.txt");
    });
  });

  $(document).ready(function(){
    $("#button2").click(function(){
      $("#div2").load("static/demo_test2.txt");
    });
  });
</script>
<div id="div1"><h2>Let jQuery AJAX Change This Text</h2></div>
<button id="button1">Get External Content</button>

<div id="div2"><h2>Second Try</h2></div>
<button id="button2">Get External Content</button>
{% endblock %}
