{% extends 'base.html' %}
{% block title %}Demand{% endblock %}
{% block content %}
<!-- Task -->
<div class="accordion" id="accordion">
  <div class="card">
    <div class="card-header" id="task">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTask" aria-expanded="false" aria-controls="collapseTask">
          <b>Show Challenge</b>
        </button>
      </h2>
    </div>
    <div id="collapseTask" class="collapse" aria-labelledby="task" data-parent="#accordion">
      <div class="card-body">
        Retrive the forecasted energy demand for next 7 days should the weather hold at 21 degrees (<a href="https://github.com/maxhumber/scrape.world/blob/master/solutions/demand.py">solution</a>)
      </div>
    </div>
  </div>
</div>
<br />
<!-- Content -->
<div class="d-flex justify-content-center">
  POST requests to this endpoint should be adhere to the following format:
</div>
<br />
<br />
<div class="d-flex justify-content-center">
  <pre style="margin: 0; line-height: 125%">data <span style="color: #333333">=</span> {
    <span style="background-color: #fff0f0">&quot;date&quot;</span>: <span style="color: #007020">str</span>(datetime<span style="color: #333333">.</span>datetime<span style="color: #333333">.</span>now()),
    <span style="background-color: #fff0f0">&quot;temperature&quot;</span>: <span style="color: #0000DD; font-weight: bold">21</span>
}
</pre></div>
</div>
{% endblock %}
