{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block content %}
<!-- Task -->
<div class="accordion" id="accordion">
  <div class="card">
    <div class="card-header" id="task">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTask" aria-expanded="false" aria-controls="collapseTask">
          <b>Click for Challenge</b>
        </button>
      </h2>
    </div>
    <div id="collapseTask" class="collapse" aria-labelledby="task" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>
<br />
<!-- Content -->
<div class="d-flex justify-content-center">
  <a href="https://www.amazon.com/Fish-That-Ate-Whale-Americas/dp/1250033314"><h3>The Fish That Ate the Whale</h3></a>
</div>
<br />
<div class="d-flex justify-content-center">
  <img src="{{url_for('static', filename='fish_1.png')}}" width=500 />
</div>
<div class="d-flex justify-content-center">
  <img src="{{url_for('static', filename='fish_2.png')}}" width=500 />
</div>
<div class="d-flex justify-content-center">
  <img src="{{url_for('static', filename='fish_3.png')}}" width=500 />
</div>
<div class="d-flex justify-content-center">
  <img src="{{url_for('static', filename='fish_4.png')}}" width=500 />
</div>
{% endblock %}
