{% extends 'base.html' %}
{% block title %}scrape.world{% endblock %}
{% block content %}
<!-- Intro -->
<h3>Welcome to <i>Scrape World!</i></h3>
<br />
<p>This website is meant to be scraped.</p>
<p>The HTML on this website is terrible.</p>
<p>This is on purpose.</p>
<p hidden>And totally not because I suck at HTML 😉</p>
<p>Each page on this website is a <a href="{{url_for('challenges')}}">challenge</a>.
<p>To accept a challenge click on the "accordion":</p>
<!-- Task -->
<div class="accordion" id="accordion">
  <div class="card">
    <div class="card-header" id="task">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTask" aria-expanded="false" aria-controls="collapseTask">
          <b>Show Challenge</b>
        </button>
      </h2>
    </div>
    <div id="collapseTask" class="collapse" aria-labelledby="task" data-parent="#accordion">
      <div class="card-body">
        Scrape the hidden paragraph tag on this page
      </div>
    </div>
  </div>
</div>
<br />
<p>Solutions are available <a href="https://github.com/maxhumber/scrape.world/tree/master/challenges">here</a>.</p>
<p>Happy Scraping!</p>
{% endblock %}
