{% extends 'base.html' %}
{% block title %}Scrape World{% endblock %}
{% block content %}
<!-- Intro -->
<h3>Welcome to Scrape World</h3>
<br />
<p>This website is meant to be scraped.</p>
<p>The HTML on this website is garbage...</p>
<p>This is on purpose <sub style="font-size:6px">*wink*</sub></p>
<p hidden>And definitely not because I suck at HTML *wink*wink*</p>
<p>Each page is a challenge.</p>
<p>To start a challenge click on the accordion:</p>
<!-- Task -->
<div class="accordion" id="accordion">
  <div class="card">
    <div class="card-header" id="task">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTask" aria-expanded="false" aria-controls="collapseTask">
          <b>Show Challenge</b>
        </button>
      </h2>
    </div>
    <div id="collapseTask" class="collapse" aria-labelledby="task" data-parent="#accordion">
      <div class="card-body">
        Scrape the hidden paragraph tag on this page (<a href="https://github.com/maxhumber/scrape.world/blob/master/challenges/index.py">solution</a>)
      </div>
    </div>
  </div>
</div>
<br />
<p>Happy scraping!</p>
{% endblock %}
