{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block messages %}
  {{super()}}
  {%if form.errors %}
    <div class="alert alert-danger">
      {% for field, errors in form.errors.items() %}
      <p>{{field}} {% for error in errors %}{{ error }}{% endfor %}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
{% block content %}
  <form action="{{ url_for('simplelogin.login') }}" method="post">
    <div class="form-group">
    {{ form.csrf_token }}
    <div>Username {{ form.username }}</div>
    <br/>
    <div>Password {{ form.password }}</div>
    <br/>
    {% if next %}<input type="hidden" name="next" value="{{next}}">{% endif %}
   <input type="submit" value="Submit">
  </form>
{% endblock %}
