{% extends 'base.html' %}
{% block title %}Soup{% endblock %}
{% block content %}
<!-- Task -->
<div class="accordion" id="accordion">
  <div class="card">
    <div class="card-header" id="task">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTask" aria-expanded="false" aria-controls="collapseTask">
          <b>Show Challenge</b>
        </button>
      </h2>
    </div>
    <div id="collapseTask" class="collapse" aria-labelledby="task" data-parent="#accordion">
      <div class="card-body">
        Scrape every figure of speech link (<a href="https://github.com/maxhumber/scrape.world/blob/master/challenges/soup.py">solution</a>)
      </div>
    </div>
  </div>
</div>
<br />
<!-- Content -->
<h1 id="firstHeading" class="firstHeading" lang="en">Soup</h1>
<div id="bodyContent" class="mw-body-content">
    <p class="mw-empty-elt">
    </p>
    <p class="mw-empty-elt">
    </p>
    <div class="section-soup">
        <p><b>Soup</b> is a primarily liquid <a href="https://en.wikipedia.org/wiki/Food" title="Food">food</a>, generally served warm or hot (but may be cool or cold), that is made by combining <a href="https://en.wikipedia.org/wiki/Ingredients"
                class="mw-redirect" title="Ingredients">ingredients</a>
            of <a href="https://en.wikipedia.org/wiki/Meat" title="Meat">meat</a> or <a href="https://en.wikipedia.org/wiki/Vegetable" title="Vegetable">vegetables</a> with <a href="https://en.wikipedia.org/wiki/Stock_(food)"
                title="Stock (food)">stock</a>, or water. Hot soups are additionally characterized by boiling solid
            ingredients in liquids in a pot until the flavors are extracted, forming a <a href="https://en.wikipedia.org/wiki/Broth" title="Broth">broth</a>. Soups are similar to <a href="https://en.wikipedia.org/wiki/Stew" title="Stew">stews</a>,
            and in
            some cases there may not be a clear distinction
            between the two; however, soups generally have more liquid (broth) than stews.<sup id="cite_ref-1" class="reference"><a href="#cite_note-1">[1]</a></sup>
        </p>
        <p>In traditional French cuisine, soups are classified into two main groups: <i>clear soups</i> and <i>thick soups</i>. The established <a href="https://en.wikipedia.org/wiki/France" title="France">French</a> classifications of clear soups
            are
            <i><a href="/wiki/Bouillon_(broth)" class="mw-redirect" title="Bouillon (broth)">bouillon</a></i> and <i><a href="https://en.wikipedia.org/wiki/Consomm%C3%A9" title="Consommé">consommé</a></i>. Thick soups are classified depending upon
            the
            type of thickening agent
            used: <i><a href="https://en.wikipedia.org/wiki/Pur%C3%A9e" title="Purée">purées</a></i> are vegetable soups thickened with <a href="https://en.wikipedia.org/wiki/Starch" title="Starch">starch</a>; <i><a
                    href="https://en.wikipedia.org/wiki/Bisque_(food)" title="Bisque (food)">bisques</a></i> are made from puréed
            <a href="https://en.wikipedia.org/wiki/Shellfish" title="Shellfish">shellfish</a> or vegetables thickened with <a href="https://en.wikipedia.org/wiki/Cream" title="Cream">cream</a>; cream soups may be thickened with <a
                href="https://en.wikipedia.org/wiki/B%C3%A9chamel_sauce" title="Béchamel sauce">béchamel
                sauce</a>; and <i><a href="https://en.wikipedia.org/wiki/Velout%C3%A9_sauce" title="Velouté sauce">veloutés</a></i> are thickened with <a href="https://en.wikipedia.org/wiki/Egg_(food)" class="mw-redirect" title="Egg (food)">eggs</a>,
            <a href="https://en.wikipedia.org/wiki/Butter" title="Butter">butter</a>,
            and cream. Other ingredients commonly used to thicken soups and broths include egg,<sup id="cite_ref-2" class="reference"><a href="#cite_note-2">[2]</a></sup> <a href="https://en.wikipedia.org/wiki/Rice" title="Rice">rice</a>, <a
                href="https://en.wikipedia.org/wiki/Lentils" class="mw-redirect" title="Lentils">lentils</a>, <a href="https://en.wikipedia.org/wiki/Flour" title="Flour">flour</a>, and <a href="https://en.wikipedia.org/wiki/Grain"
                title="Grain">grains</a>; many popular soups also include pumpkin, carrots, potatoes, <a href="/wiki/Pig%27s_trotter" class="mw-redirect" title="Pig's trotter">pig's trotters</a> and bird's nests.
        </p>
        <p>Other types of soup include <a href="https://en.wikipedia.org/wiki/Fruit_soup" title="Fruit soup">fruit soups</a>, dessert soups, pulse soups like split pea, cold soups and other styles.
        </p>
    </div>
    <div class="section-history">
        <h2><span class="mw-headline" id="History">History</span></h2>

        <p>Evidence of the existence of soup can be found as far back as about 20,000 BC.<sup id="cite_ref-3" class="reference"><a href="#cite_note-3">[3]</a></sup> Boiling was not a common cooking technique until the invention of <a
                href="/wiki/Waterproof" class="mw-redirect" title="Waterproof">waterproof</a> containers (which probably came in the form of <a href="https://en.wikipedia.org/wiki/Pottery" title="Pottery">clay</a> vessels). Animal hides and
            watertight
            baskets of bark or reeds
            were used before this. To boil the water hot rocks were used. This method was also used to cook acorns and other plants.
        </p>
        <p>The word <i>soup</i> comes from <a href="https://en.wikipedia.org/wiki/Latin_(language)" class="mw-redirect" title="Latin (language)">French</a> <i>soupe</i> ("soup", "broth"), which comes through <a
                href="https://en.wikipedia.org/wiki/Vulgar_Latin" title="Vulgar Latin">Vulgar Latin</a>
            <i>suppa</i> ("bread soaked in broth") from a <a href="https://en.wikipedia.org/wiki/Germanic_languages" title="Germanic languages">Germanic</a> source, from which also comes the word "<a href="https://en.wikipedia.org/wiki/Sop"
                title="Sop">sop</a>", a piece of <a href="https://en.wikipedia.org/wiki/Bread" title="Bread">bread</a> used to soak up soup or a thick <a href="https://en.wikipedia.org/wiki/Stew" title="Stew">stew</a>.
        </p>
        <p>The word <i><a href="https://en.wikipedia.org/wiki/Restaurant" title="Restaurant">restaurant</a></i> (meaning "[something] restoring") was first used in <a href="https://en.wikipedia.org/wiki/France" title="France">France</a> in the 16th
            century, to refer to a highly concentrated,
            inexpensive soup, sold by street vendors, that was advertised as an <a href="https://en.wikipedia.org/wiki/Antidote" title="Antidote">antidote</a> to physical <a href="https://en.wikipedia.org/wiki/Fatigue_(medical)" class="mw-redirect"
                title="Fatigue (medical)">exhaustion</a>. In 1765, a
            Parisian entrepreneur opened a shop specializing in such soups. This prompted the use of the modern word <i>restaurant</i> for the eating establishments.
        </p>
        <p>In the <a href="https://en.wikipedia.org/wiki/United_States" title="United States">US</a>, the first <a href="https://en.wiktionary.org/wiki/colonial" class="extiw" title="wikt:colonial">colonial</a> <a
                href="https://en.wikipedia.org/wiki/Cookbook" title="Cookbook">cookbook</a> was
            published by William Parks in <a href="https://en.wikipedia.org/wiki/Williamsburg,_Virginia" title="Williamsburg, Virginia">Williamsburg, Virginia</a>, in 1742, based on Eliza Smith's <i><a
                    href="https://en.wikipedia.org/wiki/The_Compleat_Housewife" title="The Compleat Housewife">The
                    Compleat Housewife</a>; or Accomplished Gentlewoman's Companion</i>, and it included several recipes for soups and bisques. A 1772 cookbook, <i>The Frugal Housewife</i>, contained an entire chapter on the topic. English cooking
            dominated early colonial cooking; but as new <a href="https://en.wikipedia.org/wiki/Immigration" title="Immigration">immigrants</a> arrived from other countries, other national soups gained popularity. In particular, <a
                href="https://en.wikipedia.org/wiki/German_people" class="mw-redirect" title="German people">German</a> immigrants living in <a href="https://en.wikipedia.org/wiki/Pennsylvania" title="Pennsylvania">Pennsylvania</a> were famous for
            their
            <a href="https://en.wikipedia.org/wiki/Potato" title="Potato">potato</a> soups. In 1794, Jean Baptiste Gilbert Payplat
            dis Julien, a refugee from the <a href="https://en.wikipedia.org/wiki/French_Revolution" title="French Revolution">French Revolution</a>, opened an eating establishment in <a href="https://en.wikipedia.org/wiki/Boston,_Massachusetts"
                class="mw-redirect" title="Boston, Massachusetts">Boston</a> called "<a href="https://en.wikipedia.org/wiki/Julien%27s_Restorator" title="Julien's Restorator">The Restorator</a>", and became known as the "Prince of Soups". The first
            American cooking <a href="https://en.wikipedia.org/wiki/Pamphlet" title="Pamphlet">pamphlet</a> dedicated to soup recipes was written in 1882 by Emma Ewing: <i>Soups and Soup Making</i>.
        </p>
        <p><a href="https://en.wikipedia.org/wiki/Portable_soup" title="Portable soup">Portable soup</a> was devised in the 18th century by boiling seasoned meat until a thick, <a href="https://en.wiktionary.org/wiki/resin" class="extiw"
                title="wikt:resin">resinous</a> <a href="https://en.wiktionary.org/wiki/syrup" class="extiw" title="wikt:syrup">syrup</a> was left that could be dried and stored for months at a time.
        </p>
    </div>
    <div class="section-canned">
        <h3><span class="mw-headline" id="Canned">Canned</span></h3>
        <p>Canned soup (condensed with liquid added, also called "ready-to-eat") can be prepared by simply heating in a <a href="https://en.wikipedia.org/wiki/Cookware_and_bakeware" title="Cookware and bakeware">pan</a>, rather than actually <a
                href="https://en.wikipedia.org/wiki/Cooking" title="Cooking">cooking</a> anything. It can be made on the stovetop or in the microwave. Such soups can be used as a <a href="https://en.wikipedia.org/wiki/Cooking_base"
                title="Cooking base">base</a> for homemade soups, with the consumer adding anything from a
            few vegetables to eggs, meat, cream or pasta.
            <a href="https://en.wikipedia.org/wiki/John_Thompson_Dorrance" title="John Thompson Dorrance">Doctor John T. Dorrance</a>, a chemist with the <a href="https://en.wikipedia.org/wiki/Campbell_Soup_Company"
                title="Campbell Soup Company">Campbell
                Soup Company</a>, invented <a href="/wiki/Condensed_soup" class="mw-redirect" title="Condensed soup">condensed soup</a> in 1897.<sup id="cite_ref-Campbells_history_4-0" class="reference"><a
                    href="#cite_note-Campbells_history-4">[4]</a></sup><sup id="cite_ref-Genovese2006_5-0" class="reference"><a href="#cite_note-Genovese2006-5">[5]</a></sup> <a href="https://en.wikipedia.org/wiki/Tin_can" class="mw-redirect"
                title="Tin can">Canned</a> soup can be condensed, in which case it is prepared by adding <a href="/wiki/Water" title="Water">water</a> (or sometimes <a href="https://en.wikipedia.org/wiki/Milk" title="Milk">milk</a>), or it can be
            "ready-to-eat", meaning that no additional liquid is needed before eating. Condensing soup allows soup to be packaged into
            a smaller can and sold at a lower price than other canned soups. The soup is usually doubled in volume by adding a "can full" of water or milk, about 10 US fluid ounces (300&nbsp;ml).
        </p>
        <p>Since the 1990s, the canned soup market has burgeoned, with non-condensed soups marketed as "ready-to-eat", so they require no additional liquid to prepare.<sup class="noprint Inline-Template Template-Fact"
                style="white-space:nowrap;">[<i><a href="/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span title="This claim needs references to reliable sources. (March 2018)">citation needed</span></a></i>]</sup>
            Microwaveable bowls have expanded the
            "ready-to-eat" canned soup market even more, offering convenience (especially in workplaces), and making for popular lunch items. In response to concerns over the negative health effects of <a
                href="https://en.wikipedia.org/wiki/High_sodium" class="mw-redirect" title="High sodium">excessive</a> <a href="https://en.wikipedia.org/wiki/Salt" title="Salt">salt</a> intake, some soup manufacturers have introduced reduced-salt
            versions of popular soups.<sup id="cite_ref-6" class="reference"><a href="#cite_note-6">[6]</a></sup>
        </p>
        <p>Today, Campbell's <a href="https://en.wikipedia.org/wiki/Tomato_Soup" class="mw-redirect" title="Tomato Soup">Tomato</a> (introduced in 1897), <a href="https://en.wikipedia.org/wiki/Cream_of_mushroom_soup"
                title="Cream of mushroom soup">Cream
                of Mushroom</a>, and <a href="/wiki/Chicken_Noodle" class="mw-redirect" title="Chicken Noodle">Chicken Noodle</a> (introduced in 1934) are three of the most popular soups in America. Americans consume approximately 2.5 billion bowls
            of
            these three soups alone
            each year.<sup id="cite_ref-Campbells_history_4-1" class="reference"><a href="#cite_note-Campbells_history-4">[4]</a></sup> Other popular brands of soup include <a href="https://en.wikipedia.org/wiki/Progresso"
                title="Progresso">Progresso</a>.
        </p>
    </div>
    <div class="section-varieties">
        <h3><span class="mw-headline" id="Traditional_regional_varieties">Traditional regional varieties</span></h3>
        <ul>
            <li><i>Asopao</i> is a rice soup very popular in <a href="https://en.wikipedia.org/wiki/Puerto_Rico" title="Puerto Rico">Puerto Rico</a>. When prepared with chicken, it is referred to as <i>asopao de pollo</i>.<sup id="cite_ref-10"
                    class="reference"><a href="#cite_note-10">[10]</a></sup></li>
            <li><i><a href="https://en.wikipedia.org/wiki/Ajiaco" title="Ajiaco">Ajiaco</a></i> is a <a href="https://en.wikipedia.org/wiki/Chicken_soup" title="Chicken soup">chicken soup</a> from <a href="https://en.wikipedia.org/wiki/Colombia"
                    title="Colombia">Colombia</a>.</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Avgolemono" title="Avgolemono">Avgolemono</a></i> is a <a href="https://en.wikipedia.org/wiki/Greek_cuisine" title="Greek cuisine">Greek</a> chicken soup with <a
                    href="https://en.wikipedia.org/wiki/Lemon" title="Lemon">lemon</a> and egg. It is also prepared as a
                sauce.<sup id="cite_ref-11" class="reference"><a href="#cite_note-11">[11]</a></sup></li>
            <li><i><a href="https://en.wikipedia.org/wiki/B%C3%A1nh_canh" title="Bánh canh">Bánh canh</a></i> is a Vietnamese <i><a href="https://en.wikipedia.org/wiki/Udon_noodles" class="mw-redirect" title="Udon noodles">udon</a></i> noodle soup,
                popular variants include <i>bánh canh cua</i> (crab
                udon soup), <i>bánh canh chả cá</i> (<a href="https://en.wikipedia.org/wiki/Fish_cake" class="mw-redirect" title="Fish cake">fish cake</a> udon soup)</li>
            <li><a href="https://en.wikipedia.org/wiki/Bird%27s_nest_soup" class="mw-redirect" title="Bird's nest soup">Bird's nest soup</a> is a <a href="https://en.wikipedia.org/wiki/Delicacy" title="Delicacy">delicacy</a> in Chinese cuisine<sup
                    id="cite_ref-12" class="reference"><a href="#cite_note-12">[12]</a></sup>.</li>
            <li><a href="https://en.wikipedia.org/wiki/Bisque_(food)" title="Bisque (food)">Bisque</a> is a thick, creamy, highly seasoned soup, classically of pureed crustaceans, of French origin.</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Borscht" title="Borscht">Borscht</a></i> is a <a href="https://en.wikipedia.org/wiki/Beet" class="mw-redirect" title="Beet">beet</a>-vegetable soup: originally for <a
                    href="https://en.wikipedia.org/wiki/Eastern_Europe" title="Eastern Europe">Eastern Europe</a>
                beetroots with cabbage from <a href="https://en.wikipedia.org/wiki/Ukraine" title="Ukraine">Ukraine</a> and beetroots with mushrooms from <a href="https://en.wikipedia.org/wiki/Poland" title="Poland">Poland</a>.</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Bouillabaisse" title="Bouillabaisse">Bouillabaisse</a></i> is a <a href="https://en.wikipedia.org/wiki/Fish_soup" title="Fish soup">fish soup</a> from <a
                    href="https://en.wikipedia.org/wiki/Marseille" title="Marseille">Marseille</a>, is also made in other
                Mediterranean regions; in Catalonia it is called <i>bullebesa</i>.</li>
            <li><i>Bourou-bourou</i> is a vegetable and pasta soup from the island of <a href="https://en.wikipedia.org/wiki/Corfu" title="Corfu">Corfu</a>, Greece.</li>
            <li><i><a href="https://en.wikipedia.org/wiki/B%C3%BAn_b%C3%B2_Hu%E1%BA%BF" title="Bún bò Huế">Bún bò Huế</a></i> is a spicy <a href="https://en.wikipedia.org/wiki/Lemongrass" class="mw-redirect" title="Lemongrass">lemongrass</a>-flavored
                beef noodle soup from <a href="https://en.wikipedia.org/wiki/Hu%E1%BA%BF" title="Huế">Huế</a>, <a href="https://en.wikipedia.org/wiki/Central_Vietnam" title="Central Vietnam">Central Vietnam</a>, topped with fresh herbs, sliced onions
                and
                shallots and other crunchy toppings like <a href="https://en.wikipedia.org/wiki/Pork_rind" title="Pork rind">pork
                    rind</a></li>
            <li><i><a href="https://en.wikipedia.org/wiki/Caldo_verde" title="Caldo verde">Caldo verde</a></i> is a <a href="https://en.wikipedia.org/wiki/Portuguese_cuisine" title="Portuguese cuisine">Portuguese</a> minced <a
                    href="https://en.wikipedia.org/wiki/Kale" title="Kale">kale</a> soup</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Callaloo" title="Callaloo">Callaloo</a></i> is a thick, creamy soup made with <a href="https://en.wikipedia.org/wiki/Okra" title="Okra">okra</a> and, often, <a
                    href="https://en.wikipedia.org/wiki/Crab" title="Crab">crab</a> meat from Trinidad and Tobago</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Canh_chua" title="Canh chua">Canh chua</a></i> – (<a href="https://en.wikipedia.org/wiki/Sour_soup" class="mw-redirect" title="Sour soup">sour soup</a>) made with rice, fish, various
                vegetables,
                and in some cases <a href="https://en.wikipedia.org/wiki/Pineapple" title="Pineapple">pineapple</a> is from Vietnam.</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Canja_de_galinha" title="Canja de galinha">Canja de galinha</a></i> is a Portuguese soup of chicken, rice and lemon.</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Cazuela" title="Cazuela">Cazuela</a></i> is a Chilean soup of medium thick flavoured stock obtained from cooking several kinds of meats and vegetables mixed together.</li>
            <li><a href="https://en.wikipedia.org/wiki/Clam_chowder" title="Clam chowder">Clam chowder</a> is found in two major types, New England clam chowder, made with potatoes and cream, and Manhattan clam chowder, made with a tomato base.</li>
            <li><a href="https://en.wikipedia.org/wiki/Cock-a-leekie_soup" title="Cock-a-leekie soup">Cock-a-leekie soup</a> is <a href="https://en.wikipedia.org/wiki/Leek" title="Leek">leek</a> and potato soup made with chicken stock, from <a
                    href="https://en.wikipedia.org/wiki/Scotland" title="Scotland">Scotland</a>.</li>
            <li><a href="https://en.wikipedia.org/wiki/Cullen_skink" title="Cullen skink">Cullen skink</a>, also from Scotland, is a fish soup made with smoked <a href="https://en.wikipedia.org/wiki/Haddock" title="Haddock">haddock</a>, potatoes,
                onions
                and cream.</li>
            <li><a href="https://en.wikipedia.org/wiki/Egg_drop_soup" title="Egg drop soup">Egg drop soup</a>, a savory Chinese soup, is made by adding already-beaten eggs into boiling water or broth.</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Egusi" title="Egusi">Egusi</a></i> soup, a traditional soup from <a href="https://en.wikipedia.org/wiki/Nigeria" title="Nigeria">Nigeria</a>, is made with vegetables, meat, fish, and balls of
                ground melon seed. It is often eaten with <i><a href="/wiki/Fufu" title="Fufu">fufu</a></i>.</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Etrog" title="Etrog">Etrog</a></i> is a fruit soup made from the <a href="https://en.wikipedia.org/wiki/Citron" title="Citron">citron</a> used in <a href="https://en.wikipedia.org/wiki/Jew"
                    class="mw-redirect" title="Jew">Jewish</a> <a href="https://en.wikipedia.org/wiki/Ritual" title="Ritual">rituals</a> at the feast of <a href="https://en.wikipedia.org/wiki/Sukkot" title="Sukkot">Succoth</a>, is eaten by <a
                    href="https://en.wikipedia.org/wiki/Ashkenazi_Jews" title="Ashkenazi Jews">Ashkenazi Jews</a> at <i><a href="https://en.wikipedia.org/wiki/Tu_Bishvat" class="mw-redirect" title="Tu Bishvat">Tu Bishvat</a></i>.<sup
                    class="noprint Inline-Template Template-Fact" style="white-space:nowrap;">[<i><a href="https://en.wikipedia.org/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span
                                title="Preparation of etrog as a soup needs citation. (November 2019)">citation needed</span></a></i>]</sup></li>
            <li><i><a href="https://en.wikipedia.org/wiki/Ezogelin_soup" title="Ezogelin soup">Ezogelin soup</a></i> is a traditional <a href="https://en.wikipedia.org/wiki/Turkish_cuisine" title="Turkish cuisine">Turkish</a> variety of <a
                    href="https://en.wikipedia.org/wiki/Lentil_soup" title="Lentil soup">lentil soup</a>,
                also very common in Turkey.</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Faki_soupa" class="mw-redirect" title="Faki soupa">Faki soupa</a></i> is a Greek lentil soup, with <a href="https://en.wikipedia.org/wiki/Carrot" title="Carrot">carrots</a>, <a
                    href="https://en.wikipedia.org/wiki/Olive_oil" title="Olive oil">olive oil</a>, herbs and
                possibly <a href="https://en.wikipedia.org/wiki/Tomato" title="Tomato">tomato</a> sauce or <a href="https://en.wikipedia.org/wiki/Vinegar" title="Vinegar">vinegar</a>.</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Fanesca" title="Fanesca">Fanesca</a></i> is a traditional <a href="https://en.wikipedia.org/wiki/Cod" title="Cod">cod</a> soup from <a href="https://en.wikipedia.org/wiki/Ecuador"
                    title="Ecuador">Ecuador</a>.</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Fasolada" title="Fasolada">Fasolada</a></i> is a traditional Greek <a href="https://en.wikipedia.org/wiki/Bean" title="Bean">bean</a> soup.</li>
            <li><a href="https://en.wikipedia.org/wiki/French_onion_soup" title="French onion soup">French onion soup</a> is a clear soup made with beef broth and sautéed (caramelized) onions.<sup id="cite_ref-13" class="reference"><a
                        href="#cite_note-13">[13]</a></sup></li>
            <li><i><a href="https://en.wikipedia.org/wiki/Garbure" title="Garbure">Garbure</a></i> is a traditional dish in <a href="https://en.wikipedia.org/wiki/Gascony" title="Gascony">Gascony</a> (southwest France), midway between a soup and a
                stew.
            </li>
            <li><i><a href="https://en.wikipedia.org/wiki/Gazpacho" title="Gazpacho">Gazpacho</a></i> (from Spain and Portugal) is a savory soup based on tomato.</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Goulash" title="Goulash">Goulash</a></i> is a <a href="https://en.wikipedia.org/wiki/Hungary" title="Hungary">Hungarian</a> soup of <a href="https://en.wikipedia.org/wiki/Beef"
                    title="Beef">beef</a>, <a href="https://en.wikipedia.org/wiki/Paprika" title="Paprika">paprika</a> and <a href="/wiki/Onion" title="Onion">onion</a>.</li>
            <li><a href="https://en.wikipedia.org/wiki/Gumbo" title="Gumbo">Gumbo</a> is a traditional <a href="https://en.wikipedia.org/wiki/Louisiana_Creole_cuisine" title="Louisiana Creole cuisine">Creole</a> soup from the <a
                    href="https://en.wikipedia.org/wiki/Southern_United_States" title="Southern United States">Southern United States</a>.<sup id="cite_ref-14" class="reference"><a href="#cite_note-14">[14]</a></sup> It is thickened with <a
                    href="https://en.wikipedia.org/wiki/Okra" title="Okra">okra</a> pods, <a href="https://en.wikipedia.org/wiki/Roux" title="Roux">roux</a> and sometimes <a href="https://en.wikipedia.org/wiki/Fil%C3%A9_powder"
                    title="Filé powder">filé
                    powder</a>.</li>
            <li><i>Halászlé</i> (<a href="https://en.wikipedia.org/wiki/Fisherman%27s_soup" title="Fisherman's soup">fisherman's soup</a>), a very hot and spicy Hungarian river fish soup, is made with hot paprika.</li>
            <li><i>Íslensk Kjötsúpa</i> is a traditional Icelandic meat soup made with lamb and vegetables.</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Kharcho" title="Kharcho">Kharcho</a></i> is a <a href="https://en.wikipedia.org/wiki/Georgia_(country)" title="Georgia (country)">Georgian</a> soup of lamb, rice, vegetables and a highly
                spiced
                bouillon.</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Kulajda" title="Kulajda">Kulajda</a></i> is a <a href="https://en.wikipedia.org/wiki/Czech_Republic" title="Czech Republic">Czech</a> sour cream soup.</li>
            <li><a href="https://en.wikipedia.org/wiki/Kuy_teav" title="Kuy teav">Kuy teav</a> (Vi: <i>hủ tiếu)</i>, a <a href="https://en.wikipedia.org/wiki/Cambodian_food" class="mw-redirect" title="Cambodian food">Cambodian</a>/Southern Vietnamese
                pork rice noodle soup, often in combination with
                shrimp, squid and other seafood, topped with fresh herbs and bean sprouts.</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Kyselo" class="mw-redirect" title="Kyselo">Kyselo</a></i> is a traditional <a href="https://en.wikipedia.org/wiki/Bohemia" title="Bohemia">Bohemian</a> (<a
                    href="https://en.wikipedia.org/wiki/Krkono%C5%A1e" title="Krkonoše">Krkonoše</a> region) sour soup made from <a href="/wiki/Sourdough" title="Sourdough">sourdough</a>, <a href="https://en.wikipedia.org/wiki/Mushroom"
                    title="Mushroom">mushrooms</a>, <a href="https://en.wikipedia.org/wiki/Cumin" title="Cumin">cumin</a>, potatoes and <a href="https://en.wikipedia.org/wiki/Scrambled_eggs" title="Scrambled eggs">scrambled eggs</a>.</li>
            <li><i>Lagman</i> – a tradition in <a href="https://en.wikipedia.org/wiki/Uzbeks" title="Uzbeks">Uzbekistan</a>, is made with pasta, vegetables, ground lamb and numerous spices.</li>
            <li><i>Lan Sikik</i> is a Thai soup made with noodles, dried fish and tomato extract.</li>
            <li><a href="https://en.wikipedia.org/wiki/Leek_soup" title="Leek soup">Leek soup</a> is a simple soup made from leeks, is popular in <a href="https://en.wikipedia.org/wiki/Wales" title="Wales">Wales</a> during <a
                    href="https://en.wikipedia.org/wiki/Saint_David%27s_Day" title="Saint David's Day">Saint David's
                    Day</a>.</li>
            <li><a href="https://en.wikipedia.org/wiki/Lentil_soup" title="Lentil soup">Lentil soup</a> is popular in Middle Eastern and Mediterranean cuisines.</li>
            <li>London particular is a thick soup of pureed (dry or split) peas and ham from England; purportedly it is named after the thick fogs of 19th-century London.</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Magiritsa" title="Magiritsa">Magiritsa</a></i> soup is made in Greece and Cyprus using lamb <a href="https://en.wikipedia.org/wiki/Offal" title="Offal">offal</a>.</li>
            <li>Maryland crab soup is made of vegetables, <a href="https://en.wikipedia.org/wiki/Callinectes_sapidus" title="Callinectes sapidus">blue crab</a> meat, and <a href="https://en.wikipedia.org/wiki/Old_Bay_Seasoning"
                    title="Old Bay Seasoning">Old Bay Seasoning</a> in a tomato base, from <a href="/wiki/Maryland" title="Maryland">Maryland</a>.</li>
            <li><a href="https://en.wikipedia.org/wiki/Menudo_(soup)" title="Menudo (soup)"><i>Menudo</i></a> is a traditional <a href="https://en.wikipedia.org/wiki/Mexico" title="Mexico">Mexican</a> soup, is with <a
                    href="https://en.wikipedia.org/wiki/Tripe" title="Tripe">tripe</a> (usually beef) and <a href="https://en.wikipedia.org/wiki/Hominy" title="Hominy">hominy</a>.</li>
            <li>Michigan <a href="https://en.wikipedia.org/wiki/Bean_soup" class="mw-redirect" title="Bean soup">bean soup</a> has been a staple for over a hundred years in the <a href="https://en.wikipedia.org/wiki/United_States_Senate"
                    title="United States Senate">U.S. Senate</a> dining room in the
                form of <a href="https://en.wikipedia.org/wiki/Senate_bean_soup" title="Senate bean soup">Senate bean soup</a>.<sup id="cite_ref-15" class="reference"><a href="#cite_note-15">[15]</a></sup></li>
            <li><a href="https://en.wikipedia.org/wiki/Minestrone" title="Minestrone">Minestrone</a> is an Italian vegetable soup.</li>
            <li><a href="https://en.wikipedia.org/wiki/Miso_soup" title="Miso soup">Miso soup</a> is made from <a href="https://en.wikipedia.org/wiki/Fish_broth" class="mw-redirect" title="Fish broth">fish broth</a> and fermented soy in Japan.</li>
            <li><a href="https://en.wikipedia.org/wiki/Mulligatawny" title="Mulligatawny">Mulligatawny</a> is an <a href="https://en.wikipedia.org/wiki/Anglo-Indian" title="Anglo-Indian">Anglo-Indian</a> curried soup.</li>
            <li><i>Nässelsoppa</i> (<a href="https://en.wikipedia.org/wiki/Nettle_soup" title="Nettle soup">nettle soup</a>) is made with stinging nettles, and traditionally eaten with hard boiled egg halves, is considered a spring delicacy in
                Sweden.
            </li>
            <li><i>Nkatenkwan</i> is a heavily spiced soup from <a href="https://en.wikipedia.org/wiki/Ghana" title="Ghana">Ghana</a> based on <a href="https://en.wikipedia.org/wiki/Peanut" title="Peanut">groundnut</a> with meat, most often chicken,
                and
                vegetables added. It is generally eaten with
                <i>fufu</i>.</li>
            <li><a href="https://en.wikipedia.org/wiki/Noodle_soup" title="Noodle soup">Noodle soup</a> is the common name for a diverse collection of soups with varied ingredients, including noodles.</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Okroshka" title="Okroshka">Okroshka</a></i> is a cold soup of Russian origin.</li>
            <li><a href="https://en.wikipedia.org/wiki/Partan_bree" title="Partan bree">Partan bree</a> is a Scottish soup made with crabmeat and rice.<sup id="cite_ref-16" class="reference"><a href="#cite_note-16">[16]</a></sup></li>
            <li><a href="https://en.wikipedia.org/wiki/%C4%B0%C5%9Fkembe" class="mw-redirect" title="İşkembe"><i>Patsás</i></a> is made with tripe in Greece. It is also cooked in Turkey and the <a href="https://en.wikipedia.org/wiki/Balkan_Peninsula"
                    class="mw-redirect" title="Balkan Peninsula">Balkan
                    Peninsula</a>.</li>
            <li>"Peasants' soup" is a catch-all term for soup made by combining a diverse—and often eclectic—assortment of ingredients. Variations on peasants' soup are popular in Eastern Europe, Russia, and Central Africa.</li>
            <li><a href="https://en.wikipedia.org/wiki/Philadelphia_Pepper_Pot" title="Philadelphia Pepper Pot">Philadelphia pepper pot</a> soup is a <a href="https://en.wikipedia.org/wiki/Philadelphia" title="Philadelphia">Philadelphia</a>
                specialty, is
                traditionally made with tripe.<sup id="cite_ref-17" class="reference"><a href="#cite_note-17">[17]</a></sup></li>
            <li><i><a href="https://en.wikipedia.org/wiki/Ph%E1%BB%9F" class="mw-redirect" title="Phở">Phở</a></i> is Vietnamese beef or chicken soup with <a href="https://en.wikipedia.org/wiki/Scallion" title="Scallion">scallions</a>, <a
                    href="https://en.wikipedia.org/wiki/Welsh_onion" class="mw-redirect" title="Welsh onion">welsh onion</a>, charred <a href="https://en.wikipedia.org/wiki/Ginger" title="Ginger">ginger</a>, wild coriander (<i><a
                        href="https://en.wikipedia.org/wiki/Eryngium_foetidum" title="Eryngium foetidum">Eryngium foetidum</a></i>), <a href="https://en.wikipedia.org/wiki/Basil" title="Basil">basil</a>, <a
                    href="https://en.wikipedia.org/wiki/Cinnamon" title="Cinnamon">cinnamon</a>, <a href="https://en.wikipedia.org/wiki/Star_anise" class="mw-redirect" title="Star anise">star anise</a>, <a href="https://en.wikipedia.org/wiki/Clove"
                    title="Clove">clove</a> and <a href="/wiki/Black_cardamom" title="Black cardamom">black cardamom</a>.</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Psarosoupa" title="Psarosoupa">Psarosoupa</a></i> is a Greek fish soup, is made in various versions with a variety of fish types.</li>
            <li><a href="https://en.wikipedia.org/wiki/Rasam" title="Rasam">Rasam</a> is a South Indian traditional soup prepared using tamarind, pepper, cumin and steamed lentils.</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Revithia" class="mw-redirect" title="Revithia">Revithia</a></i> is a Greek chickpea soup.<sup id="cite_ref-18" class="reference"><a href="#cite_note-18">[18]</a></sup></li>
            <li><i><a href="https://en.wikipedia.org/wiki/Sancocho" title="Sancocho">Sancocho</a></i> is chicken soup with vegetables in Latin America.</li>
            <li><a href="https://en.wikipedia.org/wiki/Scotch_broth" title="Scotch broth">Scotch broth</a> is made from mutton or lamb, barley and root vegetables.</li>
            <li><i>Shchav</i> ia a <a href="https://en.wikipedia.org/wiki/Sorrel_soup" title="Sorrel soup">sorrel soup</a> in Polish, Russian and <a href="https://en.wikipedia.org/wiki/Yiddish" title="Yiddish">Yiddish</a> cuisines, is sour from the
                sorrel.</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Shchi" title="Shchi">Shchi</a></i> is a Russian soup with cabbage as the primary ingredient.</li>
            <li><a href="https://en.wikipedia.org/wiki/She-crab_soup" title="She-crab soup">She-crab soup</a> is from <a href="https://en.wikipedia.org/wiki/Charleston,_South_Carolina" title="Charleston, South Carolina">Charleston, South
                    Carolina</a>,
                and is a creamy soup made with blue crab meat and
                crab roe.</li>
            <li><i>Sinigang</i>, from the Philippines, is a clear sour soup made from tamarind paste and meat, fish, or vegetables.</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Snert" class="mw-redirect" title="Snert">Snert</a></i> (<i>erwtensoep</i>) is a thick <a href="https://en.wikipedia.org/wiki/Pea_soup" title="Pea soup">pea soup</a>, is eaten in the <a
                    href="https://en.wikipedia.org/wiki/Netherlands" title="Netherlands">Netherlands</a> as a winter dish, and is traditionally served with sliced <a href="https://en.wikipedia.org/wiki/Rookworst" title="Rookworst">sausage</a>.</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Solyanka" title="Solyanka">Solyanka</a></i> – Russian soup on a meat, fish or vegetable broth with pickles, spices and smoked meat or fish.</li>
            <li><i>Sopa da Pedra</i> is a rich traditional Portuguese soup with lots of ingredients.</li>
            <li><i>Sopa de Peixe</i> is a traditional Portuguese fish soup.</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Soto_(food)" title="Soto (food)">Soto</a></i> is a traditional Indonesian soup made with turmeric, <a href="https://en.wikipedia.org/wiki/Galangal" title="Galangal">galangal</a>, etc., usually
                contains either beef or chicken.</li>
            <li><i><a href="/w/index.php?title=Soupe_aux_Pois_Jaunes&amp;action=edit&amp;redlink=1" class="new" title="Soupe aux Pois Jaunes (page does not exist)">Soupe aux Pois Jaunes</a></i> is a traditional Canadian pea soup that is made with
                yellow
                peas and often incorporates ham.</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Svartsoppa" title="Svartsoppa">Svartsoppa</a></i> is a traditional Swedish soup, whose main ingredient is goose and, sometimes, pig's blood, and is made in <a
                    href="https://en.wikipedia.org/wiki/Sk%C3%A5ne" class="mw-redirect" title="Skåne">Skåne</a>, the southernmost region of Sweden. The other ingredients typically include vinegar, port wine or cognac and spices such as cloves, ginger
                and
                allspice. The soup is served warm with boiled pieces of apple and
                plums, goose liver sausage and the boiled innards of the goose.</li>
            <li><a href="https://en.wikipedia.org/wiki/Pea_soup" title="Pea soup">Split pea soup</a> is a thick soup made in the Caribbean from split peas (chickpeas or garbanzos), usually includes "ground provision" vegetable staples and some type
                of
                meat.</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Tarator" class="mw-redirect" title="Tarator">Tarator</a></i> is a Bulgarian cold soup made from <a href="https://en.wikipedia.org/wiki/Yogurt" title="Yogurt">yogurt</a> and <a
                    href="https://en.wikipedia.org/wiki/Cucumber" title="Cucumber">cucumbers</a>.</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Thukpa_bhatuk" title="Thukpa bhatuk">Thukpa bhatuk</a></i> is a <a href="https://en.wikipedia.org/wiki/Tibetan_cuisine" title="Tibetan cuisine">Tibetan cuisine</a> noodle soup which centers on
                little hand-rolled bhatsa noodles.</li>
            <li><a href="https://en.wikipedia.org/wiki/Tomato_soup" title="Tomato soup">Tomato soup</a> comes in several varieties, with tomatoes in common.</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Tom_yum" title="Tom yum">Tom yum</a></i> is the name for two similar hot and sour soups with fragrant herbs from Laos and Thailand.</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Tarhana" title="Tarhana">Tarhana</a></i> soup is from <a href="https://en.wikipedia.org/wiki/Persian_cuisine" class="mw-redirect" title="Persian cuisine">Persian cuisine</a>, and is made with
                fermented grains and yogurt.</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Trahanas" class="mw-redirect" title="Trahanas">Trahanas</a></i> is a variation of the above soup using chicken and <a href="https://en.wikipedia.org/wiki/Halloumi" title="Halloumi">Halloumi
                    cheese</a></li>
            <li>"<a href="/w/index.php?title=Tuscan_bean_soup&amp;action=edit&amp;redlink=1" class="new" title="Tuscan bean soup (page does not exist)">Tuscan bean soup</a>" is an Italian classic, using cannellini and borlotti beans, and
                prosciutto.<sup class="noprint Inline-Template Template-Fact" style="white-space:nowrap;">[<i><a href="https://en.wikipedia.org/wiki/Wikipedia:Citation_needed" title="Wikipedia:Citation needed"><span
                                title="This claim needs references to reliable sources. (March 2019)">citation needed</span></a></i>]</sup></li>
            <li><i><a href="https://en.wikipedia.org/wiki/Ukha" title="Ukha">Ukha</a></i> is a Russian fish soup, sometimes eaten with <a href="https://en.wikipedia.org/wiki/Pirog" title="Pirog">pirog</a>.</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Vichyssoise" title="Vichyssoise">Vichyssoise</a></i>, a French-style soup invented by a French chef at the <a href="https://en.wikipedia.org/wiki/Ritz-Carlton_Hotel_Company"
                    class="mw-redirect" title="Ritz-Carlton Hotel Company">Ritz Hotel</a>
                in New York City, is a cold purée of potatoes, leeks, and cream.</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Waterzooi" title="Waterzooi">Waterzooi</a></i> is a Belgian fish soup.</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Yukgaejang" title="Yukgaejang">Yukgaejang</a> is a <a href="https://en.wikipedia.org/wiki/Korean_cuisine" title="Korean cuisine">Korean</a> spicy beef soup, also includes vegetables.</i></li>
            <li><i>Żurek</i> is a Polish <a href="https://en.wikipedia.org/wiki/Sour_rye_soup" class="mw-redirect" title="Sour rye soup">sour rye soup</a> with sausages, is often served in a bowl made of bread.</li>
            <li><i>Ärtsoppa</i> is a Swedish split pea soup, served with mustard and fresh marjoram or thyme. It is traditionally eaten as lunch on Thursdays. It is served together with Swedish <i><a href="https://en.wikipedia.org/wiki/Punsch"
                        title="Punsch">punsch</a></i> as
                beverage and Swedish pancakes with preserved berries for dessert.</li>
        </ul>
    </div>
    <div class="section-speech">
        <h2><span class="mw-headline" id="As_a_figure_of_speech">As a figure of speech</span></h2>
        <p>In the English language, the word <i>soup</i> has developed several uses in phrase.
        </p>
        <ul class='figure_of_speech'>
            <li><a href="https://en.wikipedia.org/wiki/Alphabet_soup_(linguistics)" title="Alphabet soup (linguistics)">Alphabet soup</a>, a large number of acronyms used by an administration; the term has its roots in a common tomato-based soup
                containing pasta shaped in the
                letters of the <a href="https://en.wikipedia.org/wiki/Alphabet" title="Alphabet">alphabet</a></li>
            <li>Duck soup, a simple soup, stands for a task that is particularly easy</li>
            <li>"<a href="https://en.wiktionary.org/wiki/from_soup_to_nuts" class="extiw" title="wikt:from soup to nuts">From soup to nuts</a>" means "from beginning to end", referring to the traditional position of soup as the first course in a
                multi-course meal</li>
            <li>"In the soup" refers to being in a bad situation<sup id="cite_ref-19" class="reference"><a href="#cite_note-19">[19]</a></sup></li>
            <li><a href="https://en.wikipedia.org/wiki/Abiogenesis" title="Abiogenesis">Primordial soup</a>, the organic mixture leading to the development of life</li>
            <li><a href="https://en.wikipedia.org/wiki/Soup_kitchen" title="Soup kitchen">Soup kitchen</a>, a place that serves prepared food of any kind to the homeless</li>
            <li><i><a href="https://en.wikipedia.org/wiki/Stone_soup" class="mw-redirect" title="Stone soup">Stone soup</a></i>, a popular children's fable about a poor man who encourages villagers to share their food with him by telling them that he
                can
                make soup with a stone
            </li>
            <li><a href="https://en.wikipedia.org/wiki/Souperism" title="Souperism">Souperism</a>, the practice of bible societies during the <a href="https://en.wikipedia.org/wiki/Great_Famine_(Ireland)" title="Great Famine (Ireland)">Irish Great
                    Famine</a> to feed the hungry in exchange for
                religious instruction. The expression 'took the soup' is used to refer to those who converted at the behest of these organizations' offers of food</li>
            <li><a href="https://en.wikipedia.org/wiki/Tag_soup" title="Tag soup">Tag soup</a>, poorly coded <a href="https://en.wikipedia.org/wiki/HTML" title="HTML">HTML</a></li>
        </ul>
    </div>
</div>
{% endblock %}
