{% extends 'base.html' %}
{% block title %}Spend{% endblock %}
{% block content %}
<!-- Task -->
<div class="accordion" id="accordion">
  <div class="card">
    <div class="card-header" id="task">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTask" aria-expanded="false" aria-controls="collapseTask">
          <b>Show Challenge</b>
        </button>
      </h2>
    </div>
    <div id="collapseTask" class="collapse" aria-labelledby="task" data-parent="#accordion">
      <div class="card-body">
        Scrape the total spend for each team (<a href="https://github.com/maxhumber/scrape.world/blob/master/challenges/spend.py">solution</a>)
      </div>
    </div>
  </div>
</div>
<br />
<!-- Content -->
<h3>Projected Spend</h3>
<br />
<div>
    <table id="ich" class="table table-sm table-striped" style="padding: 0px;">
        <thead class="tableFloatingHeaderOriginal" style="position: static; margin-top: 0px; left: 81px; z-index: 2; width: 1278px; top: 61px;">
            <tr class="column_head">
                <th class="left" style="width: 195px; min-width: 0px; max-width: none;" data-sort="team" data-sort-type="string">Team</th>
                <th class="left index_positional hide" data-sort="f" data-sort-type="int" style="width: 130px; min-width: 0px; max-width: none;">Forwards</th>
                <th class="left index_positional hide" data-sort="d" data-sort-type="int" style="width: 130px; min-width: 0px; max-width: none;">Defense</th>
                <th class="left index_positional hide" data-sort="g" data-sort-type="int" style="width: 130px; min-width: 0px; max-width: none;">Goalies</th>
                <th class="left index_positional hide" data-sort="inj2" data-sort-type="int" style="width: 130px; min-width: 0px; max-width: none;">Injuries</th>
                <th class="left index_positional hide" data-sort="tch" data-sort-type="int" style="width: 145px; min-width: 0px; max-width: none;">Cap Hit</th>
        </thead>
        <tbody>
            <tr class="odd tmx_27" data-sort-f="56633810" data-sort-d="10745833" data-sort-g="6375000" data-sort-inj2="20975000" data-sort-tch="95929643" data-sort-team="Toronto Pine Needles" data-sort-rs="23" data-sort-spc="49" data-sort-inj="5"
                data-sort-ch="95011999" data-sort-ch2="0" data-sort-ch3="6534517">
                <td class="tmx left" data-team="27" data-label="TEAM ▾">Toronto Pine Needles</td>
                <td data-label="FORWARDS" class="tmx_s left index_positional hide">$56,633,810 <span class="grey">(69.5%)</span></td>
                <td data-label="DEFENSE" class="tmx_s left index_positional hide">$10,745,833 <span class="grey">(13.2%)</span></td>
                <td data-label="GOALIES" class="tmx_s left index_positional hide">$6,375,000 <span class="grey">(7.8%)</span></td>
                <td data-label="INJURIES" class="tmx_s left index_positional hide">$20,975,000 <span class="grey">(25.7%)</span></td>
                <td data-label="TODAYS CAP HIT" class="tmx_s left index_positional hide">$95,929,643</td>
            </tr>
            <tr class="even tmx_2" data-sort-f="41465832" data-sort-d="27024125" data-sort-g="4958750" data-sort-inj2="12519167" data-sort-tch="87349818" data-sort-team="Arizona Dingos" data-sort-rs="23" data-sort-spc="45" data-sort-inj="4"
                data-sort-ch="85563259" data-sort-ch2="0" data-sort-ch3="39626">
                <td class="tmx left" data-team="2" data-label="TEAM ▾">Arizona Dingos</td>
                <td data-label="FORWARDS" class="tmx_s left index_positional hide">$41,465,832 <span class="grey">(50.9%)</span></td>
                <td data-label="DEFENSE" class="tmx_s left index_positional hide">$27,024,125 <span class="grey">(33.2%)</span></td>
                <td data-label="GOALIES" class="tmx_s left index_positional hide">$4,958,750 <span class="grey">(6.1%)</span></td>
                <td data-label="INJURIES" class="tmx_s left index_positional hide">$12,519,167 <span class="grey">(15.4%)</span></td>
                <td data-label="TODAYS CAP HIT" class="tmx_s left index_positional hide">$87,349,818</td>
            </tr>
            <tr class="odd tmx_4" data-sort-f="44470000" data-sort-d="23430357" data-sort-g="3509167" data-sort-inj2="14767500" data-sort-tch="86968691" data-sort-team="Buffalo Knives" data-sort-rs="23" data-sort-spc="45" data-sort-inj="6"
                data-sort-ch="85167262" data-sort-ch2="0" data-sort-ch3="810417">
                <td class="tmx left" data-team="4" data-label="TEAM ▾">Buffalo Knives</td>
                <td data-label="FORWARDS" class="tmx_s left index_positional hide">$44,470,000 <span class="grey">(54.6%)</span></td>
                <td data-label="DEFENSE" class="tmx_s left index_positional hide">$23,430,357 <span class="grey">(28.7%)</span></td>
                <td data-label="GOALIES" class="tmx_s left index_positional hide">$3,509,167 <span class="grey">(4.3%)</span></td>
                <td data-label="INJURIES" class="tmx_s left index_positional hide">$14,767,500 <span class="grey">(18.1%)</span></td>
                <td data-label="TODAYS CAP HIT" class="tmx_s left index_positional hide">$86,968,691</td>
            </tr>
            <tr class="even tmx_10" data-sort-f="48380833" data-sort-d="19419166" data-sort-g="7416666" data-sort-inj2="5500000" data-sort-tch="82349165" data-sort-team="Dallas Celebrities" data-sort-rs="23" data-sort-spc="48" data-sort-inj="2"
                data-sort-ch="82225424" data-sort-ch2="815" data-sort-ch3="3825000">
                <td class="tmx left" data-team="10" data-label="TEAM ▾">Dallas Celebrities</td>
                <td data-label="FORWARDS" class="tmx_s left index_positional hide">$48,380,833 <span class="grey">(59.4%)</span></td>
                <td data-label="DEFENSE" class="tmx_s left index_positional hide">$19,419,166 <span class="grey">(23.8%)</span></td>
                <td data-label="GOALIES" class="tmx_s left index_positional hide">$7,416,666 <span class="grey">(9.1%)</span></td>
                <td data-label="INJURIES" class="tmx_s left index_positional hide">$5,500,000 <span class="grey">(6.7%)</span></td>
                <td data-label="TODAYS CAP HIT" class="tmx_s left index_positional hide">$82,349,165</td>
            </tr>
            <tr class="odd tmx_25" data-sort-f="40602499" data-sort-d="23247500" data-sort-g="8750000" data-sort-inj2="10250000" data-sort-tch="82862927" data-sort-team="St. Louis Doldrums" data-sort-rs="23" data-sort-spc="46" data-sort-inj="3"
                data-sort-ch="82725208" data-sort-ch2="20326" data-sort-ch3="5870000">
                <td class="tmx left" data-team="25" data-label="TEAM ▾">St. Louis Doldrums</td>
                <td data-label="FORWARDS" class="tmx_s left index_positional hide">$40,602,499 <span class="grey">(49.8%)</span></td>
                <td data-label="DEFENSE" class="tmx_s left index_positional hide">$23,247,500 <span class="grey">(28.5%)</span></td>
                <td data-label="GOALIES" class="tmx_s left index_positional hide">$8,750,000 <span class="grey">(10.7%)</span></td>
                <td data-label="INJURIES" class="tmx_s left index_positional hide">$10,250,000 <span class="grey">(12.6%)</span></td>
                <td data-label="TODAYS CAP HIT" class="tmx_s left index_positional hide">$82,862,927</td>
            </tr>
            <tr class="even tmx_28" data-sort-f="43289167" data-sort-d="22541667" data-sort-g="4716667" data-sort-inj2="6675000" data-sort-tch="83580706" data-sort-team="Vancouver Whales" data-sort-rs="23" data-sort-spc="47" data-sort-inj="4"
                data-sort-ch="83119496" data-sort-ch2="30474" data-sort-ch3="1104167">
                <td class="tmx left" data-team="28" data-label="TEAM ▾">Vancouver Whales</td>
                <td data-label="FORWARDS" class="tmx_s left index_positional hide">$43,289,167 <span class="grey">(53.1%)</span></td>
                <td data-label="DEFENSE" class="tmx_s left index_positional hide">$22,541,667 <span class="grey">(27.7%)</span></td>
                <td data-label="GOALIES" class="tmx_s left index_positional hide">$4,716,667 <span class="grey">(5.8%)</span></td>
                <td data-label="INJURIES" class="tmx_s left index_positional hide">$6,675,000 <span class="grey">(8.2%)</span></td>
                <td data-label="TODAYS CAP HIT" class="tmx_s left index_positional hide">$83,580,706</td>
            </tr>
            <tr class="odd tmx_22" data-sort-f="48512856" data-sort-d="25878889" data-sort-g="3480833" data-sort-inj2="2550000" data-sort-tch="83494245" data-sort-team="Philadelphia Travellers" data-sort-rs="23" data-sort-spc="48" data-sort-inj="3"
                data-sort-ch="82897163" data-sort-ch2="66783" data-sort-ch3="582368">
                <td class="tmx left" data-team="22" data-label="TEAM ▾">Philadelphia Travellers</td>
                <td data-label="FORWARDS" class="tmx_s left index_positional hide">$48,512,856 <span class="grey">(59.5%)</span></td>
                <td data-label="DEFENSE" class="tmx_s left index_positional hide">$25,878,889 <span class="grey">(31.8%)</span></td>
                <td data-label="GOALIES" class="tmx_s left index_positional hide">$3,480,833 <span class="grey">(4.3%)</span></td>
                <td data-label="INJURIES" class="tmx_s left index_positional hide">$2,550,000 <span class="grey">(3.1%)</span></td>
                <td data-label="TODAYS CAP HIT" class="tmx_s left index_positional hide">$83,494,245</td>
            </tr>
            <tr class="even tmx_3" data-sort-f="40529999" data-sort-d="19897500" data-sort-g="9750000" data-sort-inj2="3225000" data-sort-tch="81394166" data-sort-team="Boston Kodiaks" data-sort-rs="23" data-sort-spc="47" data-sort-inj="2"
                data-sort-ch="82251528" data-sort-ch2="69564" data-sort-ch3="3121667">
                <td class="tmx left" data-team="3" data-label="TEAM ▾">Boston Kodiaks</td>
                <td data-label="FORWARDS" class="tmx_s left index_positional hide">$40,529,999 <span class="grey">(49.7%)</span></td>
                <td data-label="DEFENSE" class="tmx_s left index_positional hide">$19,897,500 <span class="grey">(24.4%)</span></td>
                <td data-label="GOALIES" class="tmx_s left index_positional hide">$9,750,000 <span class="grey">(12%)</span></td>
                <td data-label="INJURIES" class="tmx_s left index_positional hide">$3,225,000 <span class="grey">(4%)</span></td>
                <td data-label="TODAYS CAP HIT" class="tmx_s left index_positional hide">$81,394,166</td>
            </tr>
            <tr class="odd tmx_7" data-sort-f="38880832" data-sort-d="17215962" data-sort-g="11000000" data-sort-inj2="15325000" data-sort-tch="82984294" data-sort-team="Chicago Greyfalcons" data-sort-rs="22" data-sort-spc="47" data-sort-inj="3"
                data-sort-ch="82702021" data-sort-ch2="150709" data-sort-ch3="13068333">
                <td class="tmx left" data-team="7" data-label="TEAM ▾">Chicago Greyfalcons</td>
                <td data-label="FORWARDS" class="tmx_s left index_positional hide">$38,880,832 <span class="grey">(47.7%)</span></td>
                <td data-label="DEFENSE" class="tmx_s left index_positional hide">$17,215,962 <span class="grey">(21.1%)</span></td>
                <td data-label="GOALIES" class="tmx_s left index_positional hide">$11,000,000 <span class="grey">(13.5%)</span></td>
                <td data-label="INJURIES" class="tmx_s left index_positional hide">$15,325,000 <span class="grey">(18.8%)</span></td>
                <td data-label="TODAYS CAP HIT" class="tmx_s left index_positional hide">$82,984,294</td>
            </tr>
            <tr class="even tmx_36" data-sort-f="54633333" data-sort-d="18850000" data-sort-g="7850000" data-sort-inj2="0" data-sort-tch="81833332" data-sort-team="Vegas Shining Templars" data-sort-rs="23" data-sort-spc="46" data-sort-inj="0"
                data-sort-ch="81512096" data-sort-ch2="161945" data-sort-ch3="519341">
                <td class="tmx left" data-team="36" data-label="TEAM ▾">Vegas Shining Templars</td>
                <td data-label="FORWARDS" class="tmx_s left index_positional hide">$54,633,333 <span class="grey">(67%)</span></td>
                <td data-label="DEFENSE" class="tmx_s left index_positional hide">$18,850,000 <span class="grey">(23.1%)</span></td>
                <td data-label="GOALIES" class="tmx_s left index_positional hide">$7,850,000 <span class="grey">(9.6%)</span></td>
                <td data-label="INJURIES" class="tmx_s left index_positional hide">$0</td>
                <td data-label="TODAYS CAP HIT" class="tmx_s left index_positional hide">$81,833,332</td>
            </tr>
            <tr class="odd tmx_13" data-sort-f="37976625" data-sort-d="30006666" data-sort-g="10708750" data-sort-inj2="850000" data-sort-tch="82432002" data-sort-team="Florida Jaguars" data-sort-rs="23" data-sort-spc="45" data-sort-inj="1"
                data-sort-ch="81646991" data-sort-ch2="221831" data-sort-ch3="141250">
                <td class="tmx left" data-team="13" data-label="TEAM ▾">Florida Jaguars</td>
                <td data-label="FORWARDS" class="tmx_s left index_positional hide">$37,976,625 <span class="grey">(46.6%)</span></td>
                <td data-label="DEFENSE" class="tmx_s left index_positional hide">$30,006,666 <span class="grey">(36.8%)</span></td>
                <td data-label="GOALIES" class="tmx_s left index_positional hide">$10,708,750 <span class="grey">(13.1%)</span></td>
                <td data-label="INJURIES" class="tmx_s left index_positional hide">$850,000 <span class="grey">(1%)</span></td>
                <td data-label="TODAYS CAP HIT" class="tmx_s left index_positional hide">$82,432,002</td>
            </tr>
            <tr class="even tmx_24" data-sort-f="23988333" data-sort-d="32330000" data-sort-g="7650000" data-sort-inj2="15350000" data-sort-tch="81395750" data-sort-team="San Jose Charlatans" data-sort-rs="21" data-sort-spc="49" data-sort-inj="4"
                data-sort-ch="80963850" data-sort-ch2="608474" data-sort-ch3="7375000">
                <td class="tmx left" data-team="24" data-label="TEAM ▾">San Jose Charlatans</td>
                <td data-label="FORWARDS" class="tmx_s left index_positional hide">$23,988,333 <span class="grey">(29.4%)</span></td>
                <td data-label="DEFENSE" class="tmx_s left index_positional hide">$32,330,000 <span class="grey">(39.7%)</span></td>
                <td data-label="GOALIES" class="tmx_s left index_positional hide">$7,650,000 <span class="grey">(9.4%)</span></td>
                <td data-label="INJURIES" class="tmx_s left index_positional hide">$15,350,000 <span class="grey">(18.8%)</span></td>
                <td data-label="TODAYS CAP HIT" class="tmx_s left index_positional hide">$81,395,750</td>
            </tr>
            <tr class="odd tmx_29" data-sort-f="51055128" data-sort-d="21159166" data-sort-g="7025000" data-sort-inj2="0" data-sort-tch="80589294" data-sort-team="Washington Investments" data-sort-rs="21" data-sort-spc="45" data-sort-inj="0"
                data-sort-ch="81102238" data-sort-ch2="653612" data-sort-ch3="2096066">
                <td class="tmx left" data-team="29" data-label="TEAM ▾">Washington Investments</td>
                <td data-label="FORWARDS" class="tmx_s left index_positional hide">$51,055,128 <span class="grey">(62.6%)</span></td>
                <td data-label="DEFENSE" class="tmx_s left index_positional hide">$21,159,166 <span class="grey">(26%)</span></td>
                <td data-label="GOALIES" class="tmx_s left index_positional hide">$7,025,000 <span class="grey">(8.6%)</span></td>
                <td data-label="INJURIES" class="tmx_s left index_positional hide">$0</td>
                <td data-label="TODAYS CAP HIT" class="tmx_s left index_positional hide">$80,589,294</td>
            </tr>
            <tr class="even tmx_12" data-sort-f="46427499" data-sort-d="15615332" data-sort-g="6500000" data-sort-inj2="6075000" data-sort-tch="80901164" data-sort-team="Edmonton Workers" data-sort-rs="23" data-sort-spc="48" data-sort-inj="4"
                data-sort-ch="80825251" data-sort-ch2="716603" data-sort-ch3="2298072">
                <td class="tmx left" data-team="12" data-label="TEAM ▾">Edmonton Workers</td>
                <td data-label="FORWARDS" class="tmx_s left index_positional hide">$46,427,499 <span class="grey">(57%)</span></td>
                <td data-label="DEFENSE" class="tmx_s left index_positional hide">$15,615,332 <span class="grey">(19.2%)</span></td>
                <td data-label="GOALIES" class="tmx_s left index_positional hide">$6,500,000 <span class="grey">(8%)</span></td>
                <td data-label="INJURIES" class="tmx_s left index_positional hide">$6,075,000 <span class="grey">(7.5%)</span></td>
                <td data-label="TODAYS CAP HIT" class="tmx_s left index_positional hide">$80,901,164</td>
            </tr>
            <tr class="odd tmx_11" data-sort-f="28622458" data-sort-d="14625831" data-sort-g="7000000" data-sort-inj2="29857045" data-sort-tch="82133668" data-sort-team="Detroit Carmine Feathers" data-sort-rs="23" data-sort-spc="47" data-sort-inj="7"
                data-sort-ch="80697285" data-sort-ch2="1016847" data-sort-ch3="9492919">
                <td class="tmx left" data-team="11" data-label="TEAM ▾">Detroit Carmine Feathers</td>
                <td data-label="FORWARDS" class="tmx_s left index_positional hide">$28,622,458 <span class="grey">(35.1%)</span></td>
                <td data-label="DEFENSE" class="tmx_s left index_positional hide">$14,625,831 <span class="grey">(17.9%)</span></td>
                <td data-label="GOALIES" class="tmx_s left index_positional hide">$7,000,000 <span class="grey">(8.6%)</span></td>
                <td data-label="INJURIES" class="tmx_s left index_positional hide">$29,857,045 <span class="grey">(36.6%)</span></td>
                <td data-label="TODAYS CAP HIT" class="tmx_s left index_positional hide">$82,133,668</td>
            </tr>
            <tr class="even tmx_23" data-sort-f="42376250" data-sort-d="19349125" data-sort-g="4425000" data-sort-inj2="14200000" data-sort-tch="80657875" data-sort-team="Pittsburgh Puffins" data-sort-rs="23" data-sort-spc="47" data-sort-inj="3"
                data-sort-ch="80712729" data-sort-ch2="1099817" data-sort-ch3="3526999">
                <td class="tmx left" data-team="23" data-label="TEAM ▾">Pittsburgh Puffins</td>
                <td data-label="FORWARDS" class="tmx_s left index_positional hide">$42,376,250 <span class="grey">(52%)</span></td>
                <td data-label="DEFENSE" class="tmx_s left index_positional hide">$19,349,125 <span class="grey">(23.7%)</span></td>
                <td data-label="GOALIES" class="tmx_s left index_positional hide">$4,425,000 <span class="grey">(5.4%)</span></td>
                <td data-label="INJURIES" class="tmx_s left index_positional hide">$14,200,000 <span class="grey">(17.4%)</span></td>
                <td data-label="TODAYS CAP HIT" class="tmx_s left index_positional hide">$80,657,875</td>
            </tr>
            <tr class="odd tmx_6" data-sort-f="39239000" data-sort-d="19625000" data-sort-g="6525000" data-sort-inj2="5750000" data-sort-tch="80405665" data-sort-team="Carolina Cyclones" data-sort-rs="21" data-sort-spc="44" data-sort-inj="1"
                data-sort-ch="80304163" data-sort-ch2="1195837" data-sort-ch3="3834926">
                <td class="tmx left" data-team="6" data-label="TEAM ▾">Carolina Cyclones</td>
                <td data-label="FORWARDS" class="tmx_s left index_positional hide">$39,239,000 <span class="grey">(48.1%)</span></td>
                <td data-label="DEFENSE" class="tmx_s left index_positional hide">$19,625,000 <span class="grey">(24.1%)</span></td>
                <td data-label="GOALIES" class="tmx_s left index_positional hide">$6,525,000 <span class="grey">(8%)</span></td>
                <td data-label="INJURIES" class="tmx_s left index_positional hide">$5,750,000 <span class="grey">(7.1%)</span></td>
                <td data-label="TODAYS CAP HIT" class="tmx_s left index_positional hide">$80,405,665</td>
            </tr>
            <tr class="even tmx_5" data-sort-f="46518333" data-sort-d="16344209" data-sort-g="5500000" data-sort-inj2="7644166" data-sort-tch="78848375" data-sort-team="Calgary Flares" data-sort-rs="23" data-sort-spc="44" data-sort-inj="2"
                data-sort-ch="80350732" data-sort-ch2="1476864" data-sort-ch3="3390833">
                <td class="tmx left" data-team="5" data-label="TEAM ▾">Calgary Flares</td>
                <td data-label="FORWARDS" class="tmx_s left index_positional hide">$46,518,333 <span class="grey">(57.1%)</span></td>
                <td data-label="DEFENSE" class="tmx_s left index_positional hide">$16,344,209 <span class="grey">(20.1%)</span></td>
                <td data-label="GOALIES" class="tmx_s left index_positional hide">$5,500,000 <span class="grey">(6.7%)</span></td>
                <td data-label="INJURIES" class="tmx_s left index_positional hide">$7,644,166 <span class="grey">(9.4%)</span></td>
                <td data-label="TODAYS CAP HIT" class="tmx_s left index_positional hide">$78,848,375</td>
            </tr>
            <tr class="odd tmx_17" data-sort-f="54712976" data-sort-d="11975000" data-sort-g="6500000" data-sort-inj2="6250000" data-sort-tch="79779643" data-sort-team="Nashville Carnivores" data-sort-rs="23" data-sort-spc="45" data-sort-inj="1"
                data-sort-ch="79231296" data-sort-ch2="2268704" data-sort-ch3="7275499">
                <td class="tmx left" data-team="17" data-label="TEAM ▾">Nashville Carnivores</td>
                <td data-label="FORWARDS" class="tmx_s left index_positional hide">$54,712,976 <span class="grey">(67.1%)</span></td>
                <td data-label="DEFENSE" class="tmx_s left index_positional hide">$11,975,000 <span class="grey">(14.7%)</span></td>
                <td data-label="GOALIES" class="tmx_s left index_positional hide">$6,500,000 <span class="grey">(8%)</span></td>
                <td data-label="INJURIES" class="tmx_s left index_positional hide">$6,250,000 <span class="grey">(7.7%)</span></td>
                <td data-label="TODAYS CAP HIT" class="tmx_s left index_positional hide">$79,779,643</td>
            </tr>
            <tr class="even tmx_26" data-sort-f="49478332" data-sort-d="21666666" data-sort-g="4800000" data-sort-inj2="0" data-sort-tch="79103331" data-sort-team="Tampa Bay Thunder" data-sort-rs="22" data-sort-spc="48" data-sort-inj="0"
                data-sort-ch="79213949" data-sort-ch2="2286051" data-sort-ch3="7331129">
                <td class="tmx left" data-team="26" data-label="TEAM ▾">Tampa Bay Thunder</td>
                <td data-label="FORWARDS" class="tmx_s left index_positional hide">$49,478,332 <span class="grey">(60.7%)</span></td>
                <td data-label="DEFENSE" class="tmx_s left index_positional hide">$21,666,666 <span class="grey">(26.6%)</span></td>
                <td data-label="GOALIES" class="tmx_s left index_positional hide">$4,800,000 <span class="grey">(5.9%)</span></td>
                <td data-label="INJURIES" class="tmx_s left index_positional hide">$0</td>
                <td data-label="TODAYS CAP HIT" class="tmx_s left index_positional hide">$79,103,331</td>
            </tr>
            <tr class="odd tmx_15" data-sort-f="44792627" data-sort-d="27292628" data-sort-g="5118333" data-sort-inj2="0" data-sort-tch="78420255" data-sort-team="Minnesota Savage" data-sort-rs="23" data-sort-spc="46" data-sort-inj="0"
                data-sort-ch="78820875" data-sort-ch2="2679125" data-sort-ch3="8591677">
                <td class="tmx left" data-team="15" data-label="TEAM ▾">Minnesota Savage</td>
                <td data-label="FORWARDS" class="tmx_s left index_positional hide">$44,792,627 <span class="grey">(55%)</span></td>
                <td data-label="DEFENSE" class="tmx_s left index_positional hide">$27,292,628 <span class="grey">(33.5%)</span></td>
                <td data-label="GOALIES" class="tmx_s left index_positional hide">$5,118,333 <span class="grey">(6.3%)</span></td>
                <td data-label="INJURIES" class="tmx_s left index_positional hide">$0</td>
                <td data-label="TODAYS CAP HIT" class="tmx_s left index_positional hide">$78,420,255</td>
            </tr>
            <tr class="even tmx_20" data-sort-f="35575356" data-sort-d="26075000" data-sort-g="10217500" data-sort-inj2="0" data-sort-tch="78837300" data-sort-team="New York Officials" data-sort-rs="23" data-sort-spc="46" data-sort-inj="0"
                data-sort-ch="78553079" data-sort-ch2="2946921" data-sort-ch3="9450471">
                <td class="tmx left" data-team="20" data-label="TEAM ▾">New York Officials</td>
                <td data-label="FORWARDS" class="tmx_s left index_positional hide">$35,575,356 <span class="grey">(43.7%)</span></td>
                <td data-label="DEFENSE" class="tmx_s left index_positional hide">$26,075,000 <span class="grey">(32%)</span></td>
                <td data-label="GOALIES" class="tmx_s left index_positional hide">$10,217,500 <span class="grey">(12.5%)</span></td>
                <td data-label="INJURIES" class="tmx_s left index_positional hide">$0</td>
                <td data-label="TODAYS CAP HIT" class="tmx_s left index_positional hide">$78,837,300</td>
            </tr>
            <tr class="odd tmx_1" data-sort-f="35698368" data-sort-d="22299722" data-sort-g="7525000" data-sort-inj2="10025000" data-sort-tch="78173090" data-sort-team="Anaheim Mallards" data-sort-rs="23" data-sort-spc="47" data-sort-inj="2"
                data-sort-ch="78122306" data-sort-ch2="3377694" data-sort-ch3="10831915">
                <td class="tmx left" data-team="1" data-label="TEAM ▾">Anaheim Mallards</td>
                <td data-label="FORWARDS" class="tmx_s left index_positional hide">$35,698,368 <span class="grey">(43.8%)</span></td>
                <td data-label="DEFENSE" class="tmx_s left index_positional hide">$22,299,722 <span class="grey">(27.4%)</span></td>
                <td data-label="GOALIES" class="tmx_s left index_positional hide">$7,525,000 <span class="grey">(9.2%)</span></td>
                <td data-label="INJURIES" class="tmx_s left index_positional hide">$10,025,000 <span class="grey">(12.3%)</span></td>
                <td data-label="TODAYS CAP HIT" class="tmx_s left index_positional hide">$78,173,090</td>
            </tr>
            <tr class="even tmx_16" data-sort-f="28946666" data-sort-d="17098333" data-sort-g="11250000" data-sort-inj2="16757143" data-sort-tch="79868809" data-sort-team="Montreal Quebecers" data-sort-rs="23" data-sort-spc="49" data-sort-inj="4"
                data-sort-ch="78030941" data-sort-ch2="3469059" data-sort-ch3="11124913">
                <td class="tmx left" data-team="16" data-label="TEAM ▾">Montreal Quebecers</td>
                <td data-label="FORWARDS" class="tmx_s left index_positional hide">$28,946,666 <span class="grey">(35.5%)</span></td>
                <td data-label="DEFENSE" class="tmx_s left index_positional hide">$17,098,333 <span class="grey">(21%)</span></td>
                <td data-label="GOALIES" class="tmx_s left index_positional hide">$11,250,000 <span class="grey">(13.8%)</span></td>
                <td data-label="INJURIES" class="tmx_s left index_positional hide">$16,757,143 <span class="grey">(20.6%)</span></td>
                <td data-label="TODAYS CAP HIT" class="tmx_s left index_positional hide">$79,868,809</td>
            </tr>
            <tr class="odd tmx_30" data-sort-f="41893690" data-sort-d="13708333" data-sort-g="7391666" data-sort-inj2="14658332" data-sort-tch="77652021" data-sort-team="Winnipeg Airplanes" data-sort-rs="22" data-sort-spc="45" data-sort-inj="6"
                data-sort-ch="76812626" data-sort-ch2="4687374" data-sort-ch3="15031924">
                <td class="tmx left" data-team="30" data-label="TEAM ▾">Winnipeg Airplanes</td>
                <td data-label="FORWARDS" class="tmx_s left index_positional hide">$41,893,690 <span class="grey">(51.4%)</span></td>
                <td data-label="DEFENSE" class="tmx_s left index_positional hide">$13,708,333 <span class="grey">(16.8%)</span></td>
                <td data-label="GOALIES" class="tmx_s left index_positional hide">$7,391,666 <span class="grey">(9.1%)</span></td>
                <td data-label="INJURIES" class="tmx_s left index_positional hide">$14,658,332 <span class="grey">(18%)</span></td>
                <td data-label="TODAYS CAP HIT" class="tmx_s left index_positional hide">$77,652,021</td>
            </tr>
            <tr class="even tmx_14" data-sort-f="37181894" data-sort-d="21870000" data-sort-g="6658333" data-sort-inj2="0" data-sort-tch="76517727" data-sort-team="Los Angeles Monarchs" data-sort-rs="23" data-sort-spc="46" data-sort-inj="0"
                data-sort-ch="76495932" data-sort-ch2="5004068" data-sort-ch3="16047528">
                <td class="tmx left" data-team="14" data-label="TEAM ▾">Los Angeles Monarchs</td>
                <td data-label="FORWARDS" class="tmx_s left index_positional hide">$37,181,894 <span class="grey">(45.6%)</span></td>
                <td data-label="DEFENSE" class="tmx_s left index_positional hide">$21,870,000 <span class="grey">(26.8%)</span></td>
                <td data-label="GOALIES" class="tmx_s left index_positional hide">$6,658,333 <span class="grey">(8.2%)</span></td>
                <td data-label="INJURIES" class="tmx_s left index_positional hide">$0</td>
                <td data-label="TODAYS CAP HIT" class="tmx_s left index_positional hide">$76,517,727</td>
            </tr>
            <tr class="odd tmx_19" data-sort-f="39957499" data-sort-d="17314167" data-sort-g="8333333" data-sort-inj2="5100000" data-sort-tch="76554999" data-sort-team="New York Indwellers" data-sort-rs="23" data-sort-spc="49" data-sort-inj="3"
                data-sort-ch="76171603" data-sort-ch2="5328397" data-sort-ch3="17087618">
                <td class="tmx left" data-team="19" data-label="TEAM ▾">New York Indwellers</td>
                <td data-label="FORWARDS" class="tmx_s left index_positional hide">$39,957,499 <span class="grey">(49%)</span></td>
                <td data-label="DEFENSE" class="tmx_s left index_positional hide">$17,314,167 <span class="grey">(21.2%)</span></td>
                <td data-label="GOALIES" class="tmx_s left index_positional hide">$8,333,333 <span class="grey">(10.2%)</span></td>
                <td data-label="INJURIES" class="tmx_s left index_positional hide">$5,100,000 <span class="grey">(6.3%)</span></td>
                <td data-label="TODAYS CAP HIT" class="tmx_s left index_positional hide">$76,554,999</td>
            </tr>
            <tr class="even tmx_21" data-sort-f="30977499" data-sort-d="13963333" data-sort-g="5450000" data-sort-inj2="18268548" data-sort-tch="76638547" data-sort-team="Ottawa Legislators" data-sort-rs="23" data-sort-spc="48" data-sort-inj="5"
                data-sort-ch="75879698" data-sort-ch2="5620302" data-sort-ch3="18023727">
                <td class="tmx left" data-team="21" data-label="TEAM ▾">Ottawa Legislators</td>
                <td data-label="FORWARDS" class="tmx_s left index_positional hide">$30,977,499 <span class="grey">(38%)</span></td>
                <td data-label="DEFENSE" class="tmx_s left index_positional hide">$13,963,333 <span class="grey">(17.1%)</span></td>
                <td data-label="GOALIES" class="tmx_s left index_positional hide">$5,450,000 <span class="grey">(6.7%)</span></td>
                <td data-label="INJURIES" class="tmx_s left index_positional hide">$18,268,548 <span class="grey">(22.4%)</span></td>
                <td data-label="TODAYS CAP HIT" class="tmx_s left index_positional hide">$76,638,547</td>
            </tr>
            <tr class="odd tmx_9" data-sort-f="31855707" data-sort-d="20825000" data-sort-g="2949125" data-sort-inj2="18822500" data-sort-tch="77160665" data-sort-team="Columbus Navy Coats" data-sort-rs="23" data-sort-spc="47" data-sort-inj="6"
                data-sort-ch="75649123" data-sort-ch2="5850877" data-sort-ch3="18763157">
                <td class="tmx left" data-team="9" data-label="TEAM ▾">Columbus Navy Coats</td>
                <td data-label="FORWARDS" class="tmx_s left index_positional hide">$31,855,707 <span class="grey">(39.1%)</span></td>
                <td data-label="DEFENSE" class="tmx_s left index_positional hide">$20,825,000 <span class="grey">(25.6%)</span></td>
                <td data-label="GOALIES" class="tmx_s left index_positional hide">$2,949,125 <span class="grey">(3.6%)</span></td>
                <td data-label="INJURIES" class="tmx_s left index_positional hide">$18,822,500 <span class="grey">(23.1%)</span></td>
                <td data-label="TODAYS CAP HIT" class="tmx_s left index_positional hide">$77,160,665</td>
            </tr>
            <tr class="even tmx_18" data-sort-f="31674167" data-sort-d="30403332" data-sort-g="1847500" data-sort-inj2="0" data-sort-tch="73766666" data-sort-team="New Jersey Demons" data-sort-rs="23" data-sort-spc="45" data-sort-inj="1"
                data-sort-ch="75087172" data-sort-ch2="6412828" data-sort-ch3="20565276">
                <td class="tmx left" data-team="18" data-label="TEAM ▾">New Jersey Demons</td>
                <td data-label="FORWARDS" class="tmx_s left index_positional hide">$31,674,167 <span class="grey">(38.9%)</span></td>
                <td data-label="DEFENSE" class="tmx_s left index_positional hide">$30,403,332 <span class="grey">(37.3%)</span></td>
                <td data-label="GOALIES" class="tmx_s left index_positional hide">$1,847,500 <span class="grey">(2.3%)</span></td>
                <td data-label="INJURIES" class="tmx_s left index_positional hide">$0</td>
                <td data-label="TODAYS CAP HIT" class="tmx_s left index_positional hide">$73,766,666</td>
            </tr>
            <tr class="odd tmx_8" data-sort-f="45382262" data-sort-d="17994166" data-sort-g="4283333" data-sort-inj2="2600000" data-sort-tch="74809761" data-sort-team="Colorado Landslide" data-sort-rs="23" data-sort-spc="45" data-sort-inj="1"
                data-sort-ch="74953135" data-sort-ch2="6546865" data-sort-ch3="20995119">
                <td class="tmx left" data-team="8" data-label="TEAM ▾">Colorado Landslide</td>
                <td data-label="FORWARDS" class="tmx_s left index_positional hide">$45,382,262 <span class="grey">(55.7%)</span></td>
                <td data-label="DEFENSE" class="tmx_s left index_positional hide">$17,994,166 <span class="grey">(22.1%)</span></td>
                <td data-label="GOALIES" class="tmx_s left index_positional hide">$4,283,333 <span class="grey">(5.3%)</span></td>
                <td data-label="INJURIES" class="tmx_s left index_positional hide">$2,600,000 <span class="grey">(3.2%)</span></td>
                <td data-label="TODAYS CAP HIT" class="tmx_s left index_positional hide">$74,809,761</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
