{% extends 'base.html' %}
{% block title %}Sports{% endblock %}
{% block content %}
<!-- Task -->
<div class="accordion" id="accordion">
  <div class="card">
    <div class="card-header" id="task">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTask" aria-expanded="false" aria-controls="collapseTask">
          <b>Show Challenge</b>
        </button>
      </h2>
    </div>
    <div id="collapseTask" class="collapse" aria-labelledby="task" data-parent="#accordion">
      <div class="card-body">
        Scrape table data on each page (hint: username=<code>admin</code> and password=<code>admin</code>)
      </div>
    </div>
  </div>
</div>
<br />
<!-- Content -->
<h3>Sports</h3>
<br />
<div>
  <ol type="A">
  {% for page in pages %}
  <h4><li><a href="{{ page }}">/{{ page }}</a></li></h4>
  {% endfor %}
  </ol>
</div>
{% endblock %}
